body {
background-color:#e8f0ff;
}
#container{
    background-color: #f4eeed;
    max-width: 900px;
    height: 350px;
    margin: auto;
    margin-top: 100px;
   
}

ul {
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#ec9c22;
}


li {
    float: left;
    
   
}

li a {
    margin:auto;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
.float{
    float: right;
}

#my-name{
    
    color:#e8270d;
}

#my-photo
{
  width:225px; 
float:left;
margin-right:12px;
margin-left:8px;
margin-top:25px;
margin-bottom :6px;

}
button{
    background-color: #dee271;
    border-radius: 40%;
    color: #a82514;
    padding: 6px 35px;
    text-align: center;
    text-decoration: none;
   
    font-size: 14px;
  position:absolute;
  bottom: 37%;
  left: 25%;
 margin: auto;
}
h4{
    margin: 20px 8px 8px 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h5{
font-family: 'Times New Roman', Times, serif 
}

#te-xt{
    font-size: 12px;
    

}
#table{
    margin:auto;
    margin-left: 20px;
    
   
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}


/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    position: absolute;
    left: 65%;
    bottom: 40%
    
}